.quote-wrap{
    padding: 5vw 0;
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}
.mat-stepper-horizontal{
    background: transparent;
}
.quote-wrap .mat-horizontal-stepper-header-container{
    display: none !important;
}
.quote-wrap  .mat-horizontal-content-container{
    padding: 2vw 0 0;
    color: #FFF;
}
.quote-wrap h1{
    font-weight: 600;
    font-size: 2.4vw;
    margin-bottom: 2vw;
}
/* Border */
.quote-wrap .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}
.quote-wrap .mat-focused.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #3f51bf;
}
.quote-wrap .mat-focused.mat-form-field-invalid.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #f44336;
}
  /* Font color */
.quote-wrap input.mat-input-element, .quote-wrap .mat-form-field-label {
    color: white;
}
.quote-wrap .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
}
.quote-wrap input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}
.quote-wrap .mat-stepper-horizontal{
    width: 50%;
}
.mat-form-field{
    width: 100%;
}
.quote-wrap .mat-select-value{
    color: #FFF;
}
.quote-wrap .mat-form-field-label-wrapper {
    top: -1vw;
    padding-top: 1vw;
}
.redesignCheck .mat-checkbox{
    margin-bottom: 16px;
}
.quote-wrap .mat-checkbox-frame{
    border-color: #FFF;
}
.final_stepper{
    margin-bottom: 16px;
}
.final_stepper mat-label{
    margin-bottom: 12px;
    display: block;
}
.quote-wrap .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;  
}
.quote-wrap .mat-flat-button:first-of-type{
    margin-right: 16px;
}
@media(min-width: 1200px){
    .mat-typography h1{
        font-size: 4vw;
        margin-bottom: 2vw;
        line-height: normal;
    }
}