/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
.quote-page{
    background: #131313;
    color: #FFF;
}
.container{
    max-width: calc(100% - 30px);
    margin: auto;
}
@media(min-width: 992px){
    .container{
        max-width: 80%;
    }
}